ideas.txt
.venv
confusion_matrices
custom_metrics
downloaded_model
instance
result_summary
trainOnCloud.py
analyzeModel.py
fine_tuned_model_weights.weights.h5
training_history_20240403-204919.csv
training_plots_20240403-204919.png
trainGAN.py
gpu_setup.py
getFiles.py
GenerateImage.py
Scrape.py
Images/
db_data/
Images/
lookatDir.py
*model_performance*
Scrape.py
test.py
tt.py
gpu_setup.py
ideas.txt
breed.txt
breed.html
boundings.py
database_1.py
ViewClass.py
.gcloudignore
.git
.gitignor
/setup.cfg
best_classifier_model.h5
use_model.keras
updated_classifier.h5/displayPredictions.py



