/* main.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}


body {
    background-color: #f0f4f7; /* Choose a light, pleasant color */
}

#upload-form {
    margin: 20px 0;
}

#file-input {
    display: none;
}

#classify-btn {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

#classify-btn:hover {
    background-color: #45a049;
}

#result-container {
    margin-top: 20px;
}

#prediction {
    font-size: 18px;
}

#breed {
    font-weight: bold;
    color: #3498db;
    font-size: 20px;
    text-transform: capitalize;
}
