<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smart Dog Breed Game</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='game_home_style.css') }}">
</head>
<body>
    <header>
        <h1>Smart Dog Breed Game</h1>
    </header>
    <main>
        <section id="game-instructions">
            <h2>Instructions</h2>
            <p>Click the 'Start Game' button to begin. Select the correct dog breed image based on the question. Try to guess as many as you can!</p>
        </section>
        <button id="start-game-btn" onclick="window.location.href='/game'">Start Game</button>
    </main>
    <footer>
        <a href="/">Home</a>
    </footer>
</body>
</html>
