<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Dog Breed Classifier</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Smart Dog Breed Classifier</h1>
    </header>

    <!-- Welcome Message Section -->
    <section id="welcome-section">
        <h2>Welcome to the Smart Dog Breed Classifier!</h2>
        <p>This web application allows you to upload an image of a dog and find out its breed. We use a machine learning model trained using transfer learning, which leverages pre-trained models and fine-tunes them for specific tasks, in this case, dog breed classification.</p>
        <p>Follow the simple steps below to get started:</p>
        <ol>
            <li>Click on <strong>Choose an Image</strong> to select a dog image from your device.</li>
            <li>Once the image is displayed, click on <strong>Classify</strong> to predict the breed.</li>
            <li>View the predicted breed and confidence level.</li>
            <li>If you know the actual breed, you can confirm or deny the prediction to help improve our model.</li>
        </ol>
    </section>

    <!-- Main Content Section -->
    <section class="main-section">
        <form id="upload-form" action="/submit_image" method="post" enctype="multipart/form-data">
            <label for="file-input" id="file-label">
                <span class="icon">📸</span>
                <span class="text">Choose an image</span>
            </label>
            <input type="file" id="file-input" name="image" accept="image/*">
            <button id="classify-btn" class="classify-button" type="submit">Classify</button>
        </form>
        <div id="image-preview-container">
            <img id="image-preview" alt="Image Preview" class="hidden">
        </div>
    </section>

    <section id="result-section" class="hidden">
        <h2>Result</h2>
        <div id="result-text"></div>
        <div id="predicted-breed"></div>
        <div id="confidence"></div>
    </section>

    <div id="confirmation-container" class="hidden">
        <p id="confirmation-message">Do you know the real breed of this dog?</p>
        <button id="yes-know-btn" class="confirmation-btn">Yes</button>
        <button id="no-know-btn" class="confirmation-btn">No</button>
        <div id="breed-dropdown" class="hidden">
            <label for="breed-select">Select the correct breed:</label>
            <input type="text" id="breed-search-input" class="breed-search-input" placeholder="Search for a breed...">
            <select id="breed-select">
                <!-- Breed options will be dynamically added here -->
            </select>
            <button id="submit-correct-breed">Submit</button>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
